body {
    background-color: #00e3;
    font-family: 'Courier New', Courier, monospace;
}
main {
    background-color: #eee;
    margin: 25px;
    padding: 5px 25px 25px 25px;
    border-radius: 10px;
    box-shadow: 0 0px 8px 3px #00e5;
}

nav h1 {
    text-align: center;
    font-size: 2.1em;
}

#nav-btn-box {
    display:flex;
    justify-content: center;
}
#nav-btn-box a {
    transition: 0.07s ease-in-out;
    margin: -8px 10px 0px;
    padding: 10px;
    border-radius: 5px;

    font-size: 1.2em;
    text-decoration: none;
    color: #333;

    text-align: center;
}
#nav-btn-box a:hover {
    transition: 0.07s ease-in-out;
    background-color: goldenrod;

    color: white;
}
section h2 {
    text-align: center;
}
#quote-title {
    display: none;
}
#generate-button {
    transition: 0.07s;
    width: 100%;
    border: 2px dotted #00e3;
    font-size: 1.4em;
    font-family: monospace;

    background-color: #eee;
    color: #111;
    cursor: pointer;
}
#generate-button:hover {
    transition: 0.07s;

    background-color: #111;
    color: #eee;
}
#generate-button:active {
    background-color: #777;
}
#quote-title {
    text-align: center;
    
}
.active {
    font-weight: bold;
}